.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  box-sizing: border-box;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: #f2f2f2;
  display: flex;
  box-sizing: border-box;
  /* выше установили ограничения для секции */
}

.header__title {
  display: flex;
  width: 730px;
  margin-left: 64px;
  align-items: center;
  font-size: 102px;  
  font-weight: 700;
  line-height: 98px;
  z-index: 2;
}

.header__subtitle {
  margin: 0;
  position: absolute;
  width: 388px;
  bottom: 30px;
  left: 64px;
  font-size: 18px;  
  font-weight: 400;
  line-height: 25px;
  z-index: 2;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  bottom: 30px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  background-color: #2f80ed;
  top: 64px;
  right: 0;
}

.logo {
  width: 228px;
  height: 32px;
  background-image: url(../images/logo_place_header.svg);
}

.logo__position_header {
  position: absolute;
  top: 30px;
  left: 64px;
}


/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.description {
  box-sizing: border-box;
  margin: 100px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  }

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  font-size: 18px;  
  font-weight: 400;
  line-height: 1.2;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 30px 0 0;
  font-size: 24px;  
  font-weight: 400;
  line-height: 34px;
}

.two-columns__paragraph:first-of-type {
  margin: 0;
}

.two-columns__paragraph_span {
  font-size: 24px;  
  font-weight: 700;
  line-height: 34px;
}



.digits {
  box-sizing: border-box;
  margin: 100px auto;
  justify-content: center;
}

.section-title {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;  
  font-weight: 700;
  position: relative;
  z-index: 1;  
}

.section-subtitle {
  width: 60%;
  margin: 20px auto 0;
  text-align: center;
  line-height: 34px;
  font-size: 24px;  
  font-weight: 400;  
  position: relative;
  z-index: 1;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1100px;
  margin: 0 auto;
  justify-content: space-between;
  z-index: 2;
  position: relative;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading {
  margin: 0 0 20px;
  line-height: 1.15;
  font-size: 24px;  
  font-weight: 700;  
}

.table__heading_theme_dark {
  color: white;
}

.table__text {
  margin: 20px 0 0;
  line-height: 1.2;
  font-size: 18px;  
  font-weight: 400;   
}

.table__text_theme_dark {
  color: white;
}

.table__text:first-of-type {
  margin: 0 
}

.feynman {
  box-sizing: border-box;
  margin: 0;
  padding-top: 100px;
  height: 890px;
  background-color: #f2f2f2;
  position: relative;
  justify-content: center;
}

.feynman__title {
  width: 648px;
  margin: 0 auto;
  line-height: 1.15;
  font-size: 120px;  
  font-weight: 700;
  text-align: center;
  position: relative;
  z-index: 1;
}

.feynman__subtitle {
  margin: 70px auto 0;
  line-height: 51px;
  font-size: 36px;  
  font-weight: 400; 
  text-align: center;
  position: relative;
  z-index: 1;
}

.feynman__link {
  color: #2f80ed;
  text-decoration: none;
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;  
  font-weight: 400;
  z-index: 1;
}

.feynman__main-illustration {
  width: 867px;
  height: 637px;
  bottom: 30px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
}


.kaufman {
  box-sizing: border-box;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
}

.kaufman-triangle {
 
  bottom: 30px;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: 0;
  width: 877px;
  height: 877px;
}

.footer {
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #1f1f1f;
  color: white;
  position: relative;
  min-height: 350px;
  display: flex;
  justify-content: center;
}

.footer__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  flex-basis: 711px;
  justify-content: space-between;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;  
  font-weight: 700;
  margin: 0 0 20px
}

.footer__column-links {
  line-height: 30px;
  font-size: 18px;  
  font-weight: 400;
  margin: 0 0 16px;
  display: flex;
  flex-direction: column;
}

.footer__column-link {
  text-decoration: none;
  color: white;
}


.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;  
  font-weight: 400;
}

.footer__social-icon {
  margin: 0 10px 0 0;
  width: 16px;
  height: 16px;
}

.logo_place_footer {
  height: 32px;
  width: 228px;
  background-image: url(../images/logo_place_footer.svg);
  flex-basis: 100%;
  background-repeat: no-repeat;
}


